@use "../../styles/mixins/typography" as typography;
@use "../../styles/variables/colors" as colors;


.container{
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  min-height: 100vh;
  max-width: 1728px;
  margin-inline: auto;
  box-sizing: border-box;
}

.text{
    @include typography.heading-1;
    color: colors.$secondary-color;
}