@use "../../../../styles/mixins/typography" as typography;
@use "../../../../styles/colors" as colors;

.container{
    padding: 52px 48px;
    background-color: colors.$app-gray;
}

.heading{
    @include typography.heading-3;
    color: colors.$secondaryColor;
    margin-bottom: 52px;
}
.testimonial{
    display: flex;
    gap: 72px;
    width: 100%;
}
.testimonialItem{
    width: 224px;
    height: 106px;
    border-radius: 20px;
}
