$apple-50: #f2fcf1;
$apple-100: #defade;
$apple-200: #c0f3bf;
$apple-300: #8de88d;
$apple-400: #54d553;
$apple-500: #2ab22a;
$apple-600: #1f9a1f;
$apple-700: #1c791d;
$apple-800: #1b601c;
$apple-900: #184f1a;
$apple-950: #082b09;
$amber-50: #ffffea;
$amber-100: #fffbc5;
$amber-200: #fff885;
$amber-300: #ffee46;
$amber-400: #ffdf1b;
$amber-500: #ffC107;
$amber-600: #e29400;
$amber-700: #bb6902;
$amber-800: #985108;
$amber-900: #7c420b;
$amber-950: #482200;
$dodgerblue-50: #edf9ff;
$dodgerblue-100: #d7f1ff;
$dodgerblue-200: #b9e8ff;
$dodgerblue-300: #88dbff;
$dodgerblue-400: #50c5ff;
$dodgerblue-500: #28a7ff;
$dodgerblue-600: #1e90ff;
$dodgerblue-700: #0a71eb;
$dodgerblue-800: #0f5abe;
$dodgerblue-900: #134e95;
$dodgerblue-950: #11305a;
$flamepea-50: #fdf4ef;
$flamebea-100: #fae5da;
$flamepea-200: #f4c9b4;
$flamepea-300: #eda484;
$flamepea-400: #e57652;
$flamepea-500: #e15d3b;
$flamepea-600: #d13d25;
$flamepea-700: #ad2d21;
$flamepea-800: #8b2621;
$flamepea-900: #70221e;
$flamepea-950: #3c0f0e;
$redribbon-50: #fef2f2;
$redribbon-100: #fee6e5;
$redribbon-200: #fccfcf;
$redribbon-300: #f9a8a8;
$redribbon-400: #f57779;
$redribbon-500: #ec474f;
$redribbon-600: #dc3545;
$redribbon-700: #87192C;
$redribbon-800: #99182C;
$redribbon-900: #83182C;
$redribbon-950: #490812;
$stormdust-50: #f6f6f6;
$stormdust-100: #e7e7e7;
$stormdust-200: #d1d1d1;
$stormdust-300: #b0b0b0;
$stormdust-400: #888888;
$stormdust-500: #6d6d60;
$stormdust-600: #636363;
$stormdust-700: #4f4f4f;
$stormdust-800: #454545;
$stormdust-900: #3d3d3d;
$stormdust-950: #262626;
$valentino-50: #fbf6fd;
$valentino-100: #f5edfa;
$valentino-200: #ead9f5;
$valentino-300: #dcbbec;
$valentino-400: #c893df;
$valentino-500: #af68cd;
$valentino-600: #9349b0;
$valentino-700: #7a3a91;
$valentino-800: #663177;
$valentino-900: #562c63;
$valentino-950: #35133f;
$white: #ffffff;
