$primary-color: #FFBE1A;
$secondary-color: #1B1F28;
$tertiary-color: #001F54;
$app-gray: #FAFCFF;
$card-gray: #25467E17;
$card-gray2: #141E2E9E;
$card-grayBorder: #49576E33;
$card-pro-button: #001F54;
